

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url("slider.css");

@font-face {
    font-family: 'AdineKirnbergRegular';
    src: url('../fonts/llogzbya.eot');
    src: url('../fonts/llogzbya.eot') format('embedded-opentype'),
        url('../fonts/llogzbya.woff') format('woff'),
        url('../fonts/llogzbya.ttf') format('truetype'),
        url('../fonts/llogzbya.svg#AdineKirnbergRegular') format('svg');
}
body{
    color:#010101;
    font-family: 'PT Sans', sans-serif;
}
header .logo{
    background-image: url("../img/logo.png");
    height: 140px;
    background-position: 0 center;
    background-repeat: no-repeat;
}
a{
    color:#0795b9;
    text-decoration: underline;
} 
a:hover{
    color:#0795b9;
    text-decoration: none;
}
header .slogan{
    font-family: 'AdineKirnbergRegular';
    font-size: 33px;
    padding-top: 0px;
}
.call-number{
    font-size: 17px;
}
.search input{
    margin-right: 15px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(203, 203, 203, 0.59);
    padding: 4px 10px;
    width: 100%;
    padding-right: 25px;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0px 1px 1px 0px rgba(104, 104, 104, 0.31) inset;
    text-align: center;
    font-size: 12px;
}
.search{
    padding-top: 5px;
}
.search .input-search{
    position: relative;
}
.search button{
    margin: 0;
    position: absolute;
    top:0px;
    right:3px;
    border: 0;
    border-radius: 4px;
    width: 27px;
    height: 25px;
    background: none;
}
.search button span{
    display: block;
    width: 23px;
    height: 24px;
    margin: 0;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position:center center;
}
.search-block{
    padding-top: 4px;
    box-shadow: 0 3px 5px 0 rgba(218, 218, 218, 0.75);
    padding-bottom: 5px;
    text-align: center;
}
form ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c0c0c0;
    opacity:  1;
}
form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #c0c0c0;
    opacity:  1;
}
form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #c0c0c0;
    opacity:  1;
}
form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #c0c0c0;
    opacity:  1;
}
a.time-work{
    padding-left: 20px;
    background-image: url("../img/time.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    color:#de454b;
    font-weight: bold;
    padding-right: 37px;
    text-decoration: none;
}
a.time-work span{
    border-bottom: 1px dotted #de454b;
}
a.reg-online{
    display: block;
    padding: 12px 0;
    text-decoration: none;
}
a.reg-online span{
    background-color: #FF434A;
    border-radius: 7px;
    padding: 5px 30px 6px;
    color:#fff;
}
a.reg-online span b{
    border-bottom: 1px dotted #fff;
    font-weight: normal;
}
a.reg-online .left-arr{
    background-image: url("../img/btn-bg-left.png");
    padding: 5px 0;
    padding-left: 7px;
    background-repeat: no-repeat;
    background-position: 0 center;  
}
a.reg-online .right-arr{
    background-image: url("../img/btn-bg-right.png");
    padding: 5px 0;
    padding-left: 7px;
    background-repeat: no-repeat;
    background-position: 0 center;
}
.pa15{
    padding-left: 15px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.line-bull-up .bull{
    width: 5px;
    height: 5px;
    background-image: url("../img/bull.png");
}
.line-bull-down{
    height: 5px;
    border-bottom: 1px solid #000;
    width: 99.3%;
    margin: 0 auto;
}
.line-bull-top{
    height: 5px;
    border-top: 1px solid #000;
    width: 99.3%;
    margin: 0 auto;
}
.main-menu{
    background: none;
    border: 0;
    border-radius: 0;
}
.menu{
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
}
.menu li{
    display: inline-block;
    position: relative;
}
.menu li .submenu{
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #e6e6e6;
    border-bottom: 1px solid #de454b;
    box-shadow: 0 6px 5px 0 rgba(119, 119, 119, 0.75);
    z-index: 3;
}
.menu li .submenu ul{
    padding: 10px 27px;
    list-style: none;
    text-align: left;
}
.menu li .submenu ul li{
    border: 0;
    display: block;
    background: none;
    margin: 0;
    box-shadow: none;
    white-space:nowrap;
}
.menu li .submenu ul li a{
    color: #ad252a;
    font-size: 13px;
    padding: 3px 0;
    text-decoration: underline;
}
.menu li .submenu ul li a:hover{
    text-decoration: none;
}
.menu li:hover > .submenu{
    display: block;
}
.menu li a{
    color:#000;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 27px;
    text-decoration: none;
    
}
.menu li:hover{
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: #e6e6e6;
    border-top:1px solid #de454b;
    border-bottom: 1px solid #de454b;
    box-shadow: 0 5px 10px 0 rgba(119, 119, 119, 0.65);
}
.menu li a span{
    padding: 3px 6px;
    background-image: url("../img/menu-down.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.menu li:hover span{
    background: none;
}
footer{
    margin-top: 15px;
    border-top: 4px double #000;
}
ul.partners{
    padding: 0;
    list-style: none;
}
ul.partners li:first-child{
    padding-left: 0;
}
ul.partners li:last-child{
    padding-right: 0;
}
ul.partners li{
    display: inline-block;
    padding: 27px;
}
footer .bg-black{
    background-color: #000;
    padding: 15px;
}
footer .bg-black p{
    font-size: 12px;
    color:#FFF;
}
footer .bg-black p a{
    font-size: 12px;
    color:#0795b9;
    text-decoration: underline;
}
footer .bg-black p a:hover{
    text-decoration: none;
}
.map-side{
    width: 85%;
    height: 280px;
}
footer .warr p{
    text-align: center;
    text-transform: uppercase;
    color:#212121;
    font-size: 30px;
    margin: 0;
    padding-top: 15px; 
}
.first-footer-block{
    position: relative;
    height: 307px;
}
footer .bg-black p.absolut{
    color: #696969;
}
p.absolut{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    margin: 0;
}
footer .bg-black p.absolut a{
    color:#696969;
}
.history-block{
    background-color: #fafaec;
}
.history-block .his-content{
    padding: 0 50px 40px;
}
.history-block h1{
    font-size: 40px;
    margin-top: 15px;
}
.history-block p{
    font-size: 15px;
}
.query-block{
    border: 1px solid #b8b8b8;
    text-align: center;
    margin: 15px 0;
    padding-top: 10px;
}
.query-block img{
    width: 90%;
}
p.name{
    font-size: 18px;
}
.left-menu {
    padding-left: 40px;
    list-style: none;
    padding-bottom: 15px;
}
.left-menu li{
    padding: 3px 0;
}
.left-menu li a{
    font-size: 16px;    
}
.item-news{
    margin-bottom: 20px;
}
.item-news .image{
    padding-right: 10px;
    vertical-align: top;
    padding-top: 2px;
}
.item-news .image img{
    width: 96px;
}
p.data{
    color:#7e7e7e;
    font-size: 12px;
    line-height: 12px;
}
.item-news p{
    color: #737373;
    margin-bottom: 5px;
}
.more p a{
    font-size: 12px;
    text-align: left;
}
.article h2{
    margin-top: 0;
    font-size: 24px;
    line-height: 16px;
    background-image: url("../img/bull.png");
    background-repeat: no-repeat;
    background-position: right bottom;

}
.article h2 span{
    background-color: #FFF;
}
.article h2 b{
    border-bottom: 1px solid #000;
    width: 99.3%;
    display: block;
    font-weight: normal;
}

.main-baner{
    background-color: #de454b;
    padding: 0 15px 15px;
    margin-bottom: 15px;
}
.main-baner .item-banner{
    float: left;
    width: 33.33%;
    padding-top: 15px;
    text-align: center;
}
.main-baner .item-banner img{
    width: 100%;
}
.main-baner:after{
    content: " ";
    display: table;
    clear: both;
}
.item-banner .center-banner{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}
.item-banner .image
{
    display:block;
    position:relative;
    margin-bottom: 10px;
}

.item-banner .image img
{
    display:block;
}

.item-banner:hover .image::before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    box-shadow: 0 0 0 3px #FFF inset; 
}
.item-banner:hover{
    background-image: url("../img/banner-hover.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.item-banner p{
    margin-bottom: 5px;
}
.item-banner p a{
    color:#FFF;
    font-size: 18px;
}
.item-banner p.desc{
    color: #000000;
    padding: 0 40px;
}
.bullets-white{
    height: 5px;
    width: 100%;
    margin-top: -7px;
}
.bullets-white .bull-w-l{
    width: 5px;
    height: 5px;
    background-image: url("../img/bull-w.png");
    float: left;
}
.bullets-white .bull-w-r{
    width: 5px;
    height: 5px;
    background-image: url("../img/bull-w.png");
    float: right;
}
.slider{
    border:1px solid #000;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}
.page-content h1{
	color: #090909;
	font-size: 34px;
}
.page-content .item-news .description p{
	font-size: 15px;
	color: #000000;
}
.page-content .item-news .description p a{
	font-size: 18px;
}
.page-content .item-news .image img{
	width: 130px;
	border: 2px solid #cfcbc7;
}
.page-content .item-news .description p.data{
	font-size: 12px;
	color: #828282;
}
.page-content .item-news{
	border-bottom: 1px solid #b2b2b2;
	padding-bottom: 10px;
}
.page-content .item-news.last{
    border-bottom: 0;
}
.adress-page ul{
	list-style: none;
	padding: 0;
}
.adress-page ul li{
	display: inline-block;
	font-size: 12px;
}
.adress-page ul li a{
	color: #7f7f7f;
	font-size: 12px;
}
.adress-page ul li:after{
	content: " / ";
	color: #7f7f7f;
	padding: 0 2px;
}
.adress-page ul li:last-child:after{
	content: "";
}
.pagination-news{
	padding: 0;
	list-style: none;
}
.pagination-news li{
	padding: 3px 0px;
	color:#555555;
	display: inline-block;
}
.pagination-news li a{
	font-size: 12px;
	color:#555555;
	text-decoration: none;
	padding:2px 6px;
}
.pagination-news li a.active,
.pagination-news li a:hover
{
	color:#FFF;
	font-weight: bold;
	background-color: #2ba6cb;
}
.show-p{
    color: #7f7f7f;
    font-size: 12px;
}
.show-p span{
    background-color: #2ba6cb;
    color:#FFF;
    font-weight: bold;
    border-radius: 18px;
    padding: 3px 10px;
}
.show-p i{
    color:#0795b9;
    font-style: normal;
}
.item-video{
    margin-bottom: 15px;
    padding: 10px 0;
}
.item-video .video-side{
    padding: 10px 0;
}
.item-video .video-side img{
    border:1px solid #d6d8d9;
}
.item-video a{
    font-size: 18px;
}
.colection-side{
    background-color: #e3e3d1;
    padding: 15px;
    margin-top: 10px;
}
.item-hair-colection a{
    font-size: 24px;
}
.colection-side .image img{
    width: 100%;
    border:1px solid #b0b0b0;
}
.vertical{
    padding: 65px 15px 0;
}