

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'adine_kirnbergregular';
    src: url('adine_kirnberg-webfont.eot');
    src: url('adine_kirnberg-webfont.eot?#iefix') format('embedded-opentype'),
         url('adine_kirnberg-webfont.woff') format('woff'),
         url('adine_kirnberg-webfont.ttf') format('truetype'),
         url('adine_kirnberg-webfont.svg#adine_kirnbergregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
















