#slider1_container{
    position: relative; 
    margin: 0 auto;  
    top: 0px; 
    left: 0px; 
}
.slides{
    cursor: move; 
    position: absolute;
    left: 0px;
    top: 0px;
    background-color:#1c1c1b;
    border-radius: 8px;
}
.slide{
    padding: 1px;
}
.banner-img{
    width: 60%;
    height: 100%;
    float: left;
}
.banner-descr{
    width: 40%;
    height: 100%;
    float: right;
    padding: 40px;
}
.banner-descr h2{
    font-size: 31px;
    color:#FFF;
    margin:0;
}
.banner-descr h1{
    font-size: 60px;
    font-weight: bold;
    color:#FFF;
    margin:0;
}
.banner-descr h1 span{
    color: rgba(222, 69, 75, 0.18);
}
.banner-descr p a{
    font-size: 16px;
}
/* jssor slider thumbnail navigator skin 04 css */
/*
.jssort04 .p            (normal)
.jssort04 .p:hover      (normal mouseover)
.jssort04 .pav          (active)
.jssort04 .pav:hover    (active mouseover)
.jssort04 .pdn          (mousedown)
*/
.jssort04 .p{
    width: 70px!important;
    height: 70px!important;
}
.jssort04 .w
{
    position: absolute;
    width: 70px!important;
    height: 70px!important;
    border: 0;
    padding-top: 6px;
    text-align: center;
}
.jssort04 .p .w img,
.jssort04 .pav .w img,
.jssort04 .pdn .w img
{
    position: initial !important;
    border: #b0b0b0 1px solid !important;
    width: 60px!important;
    
}
.jssort04 .pdn .w img{
    border:1px solid blue!important;
}
.jssort04 .p:hover .w img{
    border:1px solid black !important;
}
.jssort04 .pav .w{
    width: 70px!important;
}
.jssort04 .p:hover .w img
{
    width: 70px;
    height: 70px;
    
}

.jssort04 .p:hover .c img{
    width: 70px;
    height: 70px;
}
.jssort04 .pav .w {
    background: url("../img/arrow-banner.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    
}
.jssort04 .pav .w img{
     border: #000 1px solid !important;
     box-shadow: 0 1px 6px rgba(0,0,0, 0.5);
     width: 70px !important;
     height: 70px !important;
}