@font-face {
    font-family: 'AdineKirnbergRegular';
    src: url('llogzbya.eot');
    src: url('llogzbya.eot') format('embedded-opentype'),
         url('llogzbya.woff') format('woff'),
         url('llogzbya.ttf') format('truetype'),
         url('llogzbya.svg#AdineKirnbergRegular') format('svg');
}
